<div class="fullscreen-container">
  <div class="central-image">
    <img ngSrc="assets/superPollo.png" alt="logo Central" height="315" width="851"/>
  </div>
  <div class="button-options">
    <button pButton type="button" label="Comer Aquí"
      class="p-button-rounded p-button-secondary kiosk-button"
        icon="pi pi-table" iconPos="top"
        (click)="navigateToMenu('dineIn')">
    </button>
    <button pButton type="button" label="Para Llevar"
      class="p-button-rounded p-button-secondary kiosk-button"
        icon="pi pi-shopping-bag" iconPos="top"
        (click)="navigateToMenu('takeaway')">
    </button>
  </div>
</div>
