<div class="fullscreen-container">
  <div ckass="central-image">
    <img src="assets/superPollo.png" alt="Imagen Central" />
  </div>
  <div class="button-options">
    <button pButton type="button" label="Comer Aquí"
      class="p-button-rounded p-button-secondary kiosk-button"
        icon="pi pi-table" iconPos="right" iconPos="top"
        (click)="navigateToMenu('dineIn')">
    </button>
    <button pButton type="button" label="Para Llevar"
      class="p-button-rounded p-button-secondary kiosk-button"
        icon="pi pi-shopping-bag" iconPos="right" iconPos="top"
        (click)="navigateToMenu('dineIn')">
    </button>
  </div>
</div>
